form {
    display: grid;
    width: 400px;
    grid-template-columns: 50% 50%;
    align-items: center; 
    grid-gap: 0.5em;
    }
    .submit{
    grid-column: 1/3; 
    }


form input::placeholder {
        color:blue;
    }

form input {
    border-radius: 1em;
    padding: 0.em

}
